@{
    ViewData["Title"] =  "Atencion";
}

<div class="container">
    <div class="row">
        <h1>Modulo: </h1>
    </div>
    <div class="row">
        <div class="col-md-5">Tabla</div>
        <div class="col-md-7">Info</div>
    </div>
</div>