@{
    ViewData["Ttitle"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="Item">
            <table class="table">
                <thead>
                    <tr >
                        <th colspan="2">Turnos Pendientes</th>
                    </tr>
                    <tr>
                        <th>Servicio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach(var item in ViewBag.Categorias){
                        <tr>
                            <td>@item.Categoria</td>
                            <td>@item.Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        </div>
        <div class="col-md-6">
            <div class="grid-container">
                <div class="Item">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Usuarios</h3>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Reception" asp-action="Usuarios" class="btn btn-primary">Gestionar usuarios &rightarrow;</a>
                        </div>
                    </div>
                </div>
                <div class="Item">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Modulos</h3>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Reception" asp-action="Modulos" class="btn btn-primary">Gestionar Modulos &rightarrow;</a>
                        </div>
                    </div>
                </div>
                <div class="Item">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Turnos</h3>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Reception" asp-action="Turnos" class="btn btn-primary">Gestionar Turnos &rightarrow;</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Atender</h2>
                    <form asp-controller="Reception" asp-action="Atencion" method="post">
                        <div class="form-group">
                            <label for="">Modulo:</label>
                            <select name="" id="" class="form-control form-select">
                                @foreach(var modulo in ViewBag.Modelos){
                                <option value="@modulo.Id">@modulo.Nombre</option>
                            }
                                
                            </select>

                        </div><br>
                        <div class="form-group">
                                <button class="btn btn-success col-md-6">Atender</button>


                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>