@{

    ViewData["Title"] = "Categorias";
    string format = "dd/MM/yyyy HH:mm:ss"; 
    var now = DateTime.Now.ToString(format);
}

<div class="container">
    <div class="row">
        <div class="d-flex">
            <div class="col float-right">
                <p>@ViewBag.Usuario</p>
            </div>
            <div class="col">
                <p>@now</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="text-center">
            <h1>Que quires realizar?</h1>
            <div class="grid-container">

                @foreach(var categoria in Model){

                    <a asp-controller="Home" asp-action="Turno" asp-route-siglas="@categoria.Siglas" class="grid-item">@categoria.Nombre</a>
                }
            </div>
        </div>
    </div>
</div>