@{
    ViewData["Title"] = "Home Page";
   string format = "dd/MM/yyyy HH:mm:ss"; 
   var now = DateTime.Now.ToString(format);
}


<div class="text-center">
    <h1 class="display-4">Bienvenido !</h1>
    <p>@now</p>
    <a asp-controller="Home" asp-action="Ingreso" class="btn btn-lg btn-primary" >Gestionar turno</a>
</div>
