@{
    ViewData["Title"] = "Turnos";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            Videos 
        </div>
        <div class="col-md-4">
            <table class="table text-center">
                <thead>
                <tr>
                    <th>#</th>
                    <th>MODULO</th>
                    <th>TURNO</th>
                </tr>
                </thead>

                <tbody>
                    @foreach(var turno in ViewBag.tAtencion){

                        <tr>
    
                            <td>@turno.Id</td>
                            <td>@turno.Ficho</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>