html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 80%;
  margin: 30px auto;
}

.grid-item{
  padding:30px;
  border:1.5px solid black;
  border-radius: .25rem;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}